@charset "UTF-8";

/*упрощенная формула для css(медиа запрос не нужен):
font-size: calc(24px + 16 * ((100vw - 320px) / (1280 - 320)));*/

/* Вызов mixina*/

/* размер шрифта на макете, размер шрифта на экране 320px*/

/* @include adaptiv-font(40,24);*/

*,
button::-moz-focus-inner {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  color: #6c7279;
  -webkit-font-smoothing: antialiased;
}

/* font-family: 'Open Sans', sans-serif;
font-family: 'Cardo', serif; */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* container */

/* ====================================================== */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

/* ====================================================== */

.header {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  /* .header__inner */
  /* .header__logo */
}

.header.fixed {
  height: auto;
  position: fixed;
  background-color: #31344e;
}

.header.fixed .header__inner {
  padding: 15px 0;
  border-bottom: 0;
}

.header.fixed .header__logo img {
  height: 16px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0;
  border-bottom: 1px solid #515369;
}

/* nav */

/* ====================================================== */

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  /* .nav__link */
}

.nav__link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
  opacity: 0.75;
  -webkit-transition: opacity 0.1s lenear;
  -o-transition: opacity 0.1s lenear;
  transition: opacity 0.1s lenear;
}

.nav__link::first-child {
  margin-left: 0;
}

.nav__link:hover {
  opacity: 1;
}

/* burger */

/* ====================================================== */

.burger {
  display: none;
  padding: 9px 2px;
  border: 0;
  background: none;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #fff;
  position: relative;
}

.burger__item::before,
.burger__item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  z-index: 1;
  background-color: #fff;
}

.burger__item::before {
  top: -8px;
}

.burger__item::after {
  bottom: -8px;
}

/* fullscreen */

/* ====================================================== */

.fullscreen {
  min-height: 100vh;
  background: #31344e url("../img/intro-bg.jpg") center/cover no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 100%;
  padding-top: 100px;
}

.fullscreen__body {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  text-align: center;
}

.fullscreen__title {
  margin: 0 0 30px;
  font-family: "Open Sans", sans-serif;
  font-size: calc(30px + 35 * ((100vw - 320px) / 850));
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
}

.fullscreen__subtitle {
  font-size: calc(16px + 6 * ((100vw - 320px) / 850));
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  margin-bottom: 60px;
}

.webp .fullscreen {
  background-size: cover;
}

/* button */

/* ======================================================*/

.btn {
  font-family: "Raleway", sans-serif;
  border: 0;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  font-size: 13px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  padding: 14px 40px;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
  text-align: center;
}

.btn--red {
  background-color: #e84545;
}

.btn--red:hover {
  background-color: #dd3434;
}

.btn--long {
  min-width: 280px;
}

/* features*/

/* ======================================================*/

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 95px 0;
  max-height: 100%;
  /* .features__item */
  /* .features__icon */
  /* .features__title */
  /* .features__text */
}

.features__item {
  margin: 25px 0;
  width: 33.33333%;
  padding: 0 40px;
  text-align: center;
}

.features__icon {
  margin-bottom: 25px;
}

.features__title {
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.features__text {
  font-size: 14px;
  color: #6c7279;
  line-height: 1.5;
}

/* works*/

/*======================================================*/

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* .works__item */
  /* .works__photo */
  /* .works__content */
  /* .works__title */
  /* .works__text */
}

.works__item {
  width: 25%;
  height: 350px;
  border-bottom: 1px solid #fff;
  border-right: 1px solid #fff;
  position: relative;
  overflow: hidden;
}

.works__item:hover .works__content {
  opacity: 1;
}

.works__photo {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

.works__content {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 69, 69, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  text-align: center;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.works__title {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

.works__text {
  color: #fff;
  font-size: 14px;
}

/* team*/

/* ======================================================*/

.team {
  margin: 100px 0 70px;
  /* .team__inner */
  /* .team__item */
  /* .team__photo */
  /* .team__name */
  /* .team__prof */
  /* .team__text */
  /* .team__social */
}

.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
}

.team__item {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 30px;
}

.team__photo {
  margin-bottom: 20px;
  display: block;
  max-width: 100%;
  height: auto;
}

.team__name {
  margin-bottom: 8px;
  font-weight: 22;
  color: #2d3033;
}

.team__prof {
  margin-bottom: 15px;
  font-size: 13px;
  color: #e84545;
  text-transform: uppercase;
}

.team__text {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.5;
  color: #6c7279;
}

/* social*/

/* ======================================================*/

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  margin-right: 4px;
  background-color: #fff;
  border: 1px solid #e8ecee;
  -webkit-transition: background 0.1s linear;
  -o-transition: background 0.1s linear;
  transition: background 0.1s linear;
}

.social__link:hover {
  background-color: #e8ecee;
}

.social__link:hover .social__icon {
  fill: #000;
}

.social__icon {
  display: block;
  fill: #c6cacc;
  height: 18px;
  -webkit-transition: fill 0.1s linear;
  -o-transition: fill 0.1s linear;
  transition: fill 0.1s linear;
}

.social--footer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social--footer .social__link {
  background: none;
  border: 2px solid #fff;
  border-radius: 2px;
}

.social--footer .social__link:hover {
  background-color: #fff;
}

.social--footer .social__icon {
  fill: #fff;
}

/* reviews*/

/* TESTIMONIALS*/

/* ======================================================*/

.reviews {
  overflow: hidden;
  background-color: #53354a;
  /* .reviews__item */
  /* .reviews__photo */
  /* .reviews__content */
  /* .reviews__text */
  /* .reviews__author */
}

.reviews__slider {
  height: 500px;
  overflow: hidden;
}

.reviews__slider.slick-initialized {
  height: auto;
}

.reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.reviews__photo {
  width: 50%;
  height: 500px;
  position: relative;
}

.reviews__photo img {
  position: absolute;
  top: 50%;
  right: 0;
  z-index: 1;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  padding-left: 80px;
}

.reviews__text {
  font-family: "Cardo", sans-serif;
  font-style: italic;
  font-size: calc(20px + 16 * ((100vw - 320px) / 850));
  line-height: 1.2;
  color: #fff;
  margin-bottom: 25px;
}

.reviews__author {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
}

/* download*/

/* ======================================================*/

.download {
  margin: 90px 0;
  text-align: center;
  /* .download__title */
  /* .download__text */
}

.download__title {
  margin-bottom: 10px;
  font-size: calc(20px + 8 * ((100vw - 320px) / 850));
  color: #2d3033;
  font-weight: 300;
}

.download__text {
  margin-bottom: 30px;
  font-size: 14px;
  color: #2d3033;
  font-weight: 700;
  text-transform: uppercase;
}

/* footer*/

/* ======================================================*/

.footer {
  background-color: #3a3e64;
  color: #fff;
  /* .footer__inner */
  /* .footer__block */
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 70px 0;
}

.footer__block {
  width: 33.333%;
  padding: 0 15px;
  text-align: center;
}

.footer__title {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.footer__address {
  font-size: 14px;
  font-style: normal;
  opacity: 0.5;
  line-height: 1.5;
}

.footer__text {
  font-size: 14px;
  opacity: 0.5;
  line-height: 1.5;
}

.copyright {
  padding: 20px 0;
  background-color: #313454;
}

.copyright__text {
  text-align: center;
  font-size: 14px;
  color: #808080;
  line-height: 1.5;
}

.ThisMaketAuthorTo {
  color: #fff;
}

.likeAuthor {
  color: #f00;
}

/*=====================================================*/

.slick-list {
  overflow: unset;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 10px 0;
  list-style: none;
  width: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.slick-dots li {
  margin: 0 5px;
}

.slick-dots button {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 0;
  opacity: 0.5;
  padding: 0;
  font-size: 0;
  color: transparent;
  cursor: pointer;
}

.slick-dots .slick-active button {
  background-color: #fff;
  opacity: 1;
}

/* media */

/*=====================================================*/

@media (max-width: 1200px) {
  .works__item {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .reviews {
    /* .reviews__photo */
    /* .reviews__content */
  }

  .reviews__photo {
    margin-top: 15px;
    width: 100%;
    overflow: hidden;
  }

  .reviews__content {
    width: 100%;
    padding: 40px 15px;
  }
}

@media (max-width: 900px) {
  .header {
    height: 65px;
    /* .header__logo */
  }

  .header__logo img {
    height: 17px;
  }

  .header__inner {
    padding: 22px 0;
  }

  .header__menu {
    font-size: 16px;
  }

  .header__link {
    margin-left: 27px;
    opacity: 0.9;
  }
}

@media (max-width: 850px) {
  .nav {
    font-size: 13px;
  }

  .nav__link {
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .features {
    margin: 70px 0;
    /* .features__item */
    /* .features__icon */
    /* .features__title */
  }

  .features__item {
    margin: 10px 0;
    width: 50%;
    padding: 0 20px;
  }

  .features__icon {
    max-height: 100%;
  }

  .features__title,
  .features__text {
    font-size: 16px;
  }

  .reviews__text {
    font-size: 25px;
  }

  body.lock {
    overflow: hidden;
  }

  .footer {
    /* .footer__inner */
    /* .footer__block */
  }

  .footer__inner {
    padding: 30px 0;
  }

  .footer__block {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .footer__block:last-child {
    margin-bottom: 0;
  }

  .team {
    font-size: 17px;
    margin: 60px 0 30px;
    /* .team__inner */
    /* .team__item */
    /* .team__photo */
  }

  .team__inner {
    margin: 0;
  }

  .team__item {
    width: 50%;
    text-align: center;
  }

  .team__photo {
    margin-left: auto;
    margin-right: auto;
  }

  .social {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 767px) {
  .nav {
    display: none;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #31344e;
    text-align: right;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 9px 0;
  }

  .nav.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .nav__link {
    padding: 9px 15px;
  }

  .burger {
    display: block;
  }
}

@media (max-width: 700px) {
  .team__item {
    width: 100%;
  }

  .team__text {
    max-width: 300px;
    margin: 0 auto 15px;
  }
}

@media (max-width: 642px) {
  .btn--long {
    min-width: 205px;
  }

  .works__item {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .features {
    margin: 50px 0;
  }

  .features__item {
    width: 100%;
  }

  .download {
    margin: 50px 0;
  }

  .download__title {
    font-size: 24px;
  }

  .reviews__photo {
    height: 400px;
  }

  .header__inner {
    padding: 25px 0;
  }
}

@media (max-width: 414px) {
  .reviews__photo {
    height: 300px;
  }

  .reviews__content {
    padding: 25px 10px;
  }
}

@media only screen and (max-height: 411px) {
  .header__logo img {
    height: 16px;
  }

  .fullscreen__title {
    font-size: 25px;
    margin: -20px 0 17px 0;
  }

  .fullscreen__subtitle {
    padding: 0 25px;
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.webp .fullscreen{ background: #31344e url(../img/intro-bg.webp) center/cover no-repeat; }